<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Data Visualization</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <h1>Movie Data Visualization</h1>
    <select id="movieDropdown" onchange="updateCharts(this.value)">
        <option>Select a Movie</option>
    </select>
    <div id="ratingChart" style="width:100%; height:400px;"></div>
    <div id="grossChart" style="width:100%; height:400px;"></div>
    <div id="releaseYearChart" style="width:100%; height:400px;"></div>
    <div id="genreChart" style="width:100%; height:400px;"></div>

    <!-- <script src="{{ url_for('static', filename='project.js') }}"></script> -->
    <script src="{{ url_for('static', filename='project.js') }}"></script>

</body>
</html>
