<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
</head>
<body>
    <h1>Lightning McQueen Team - Let's Talk Movies...</h1>
    <nav>
        <ul>
            <li><a href="/get-top-movies">Top Movies</a></li>
            <li><a href="/get-release-year">Movies by Release Year</a></li>
            <li><a href="/get-movie-genres">Movie Genres</a></li>
            <li><a href="/get-avg-runtime">Average Runtime</a></li>
        </ul>
    </nav>
</body>
</html>
